@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600);
  body{
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
  }

  main {
    flex: 1 0 auto !important;
  }

html {
    font-family: 'Open Sans', sans-serif !important;
    background: #f5f5f5;
}
  
  .bold{
	  font-weight:600;
  }
  .semibold{
	  font-weight:600;
  }
  .light{
	  font-weight:300;
  }
  .uppercase{
	  text-transform:uppercase;
  }
  .no-padding{
	  padding:0 !important
  }
  .no-margin{
	  margin:0 !important
  }
  .padding-05{
	  padding:0.5rem;
  }
  .clickable{
	  cursor:pointer;
  }
  
  .main-green{
	  background:#15A347 !important;
	  background-color:#15A347 !important;
  }
  .main-green-text{
	  color:#15A347 !important;
  }  
  
  .main-green[disabled="disabled"],.main-green.disabled{
	  background:#fafafa !important;
	  background-color:#fafafa !important;
	  pointer-events: none;
  }
  
  .page-footer{
	background-color:#f5f5f5;
  }
  
  
	@-webkit-keyframes autofill {
		to {
			color: #000;
			background: transparent;
		}
	}

	input:-webkit-autofill {
		-webkit-animation-name: autofill;
		-webkit-animation-fill-mode: both;
	}
	
	nav .nav-header {
		word-wrap: break-word;
		clear: both;
		padding: 10px 0;
	}  
  
	nav .nav-header h1 {
		text-transform: uppercase;
		font-size: 32px;
		font-weight:500;
	}  
	
	nav .brand-logo{
		margin:1rem;

	}
	
	.progress{
		margin-top:0 !important;
	}
	.bar {
		height: 18px;
		background: #15A347;
	}	
	
   .input-field label {
     color: #616161;
   }
   .input-field input[type=text]:focus + label,.input-field input[type=number]:focus + label, .input-field .materialize-textarea:focus + label{
     color: #424242 !important;
   }
   .input-field input[type=text]:focus,.input-field input[type=number]:focus, .input-field .materialize-textarea:focus {
     border-bottom: 1px solid #9e9e9e !important;
     box-shadow: 0 1px 0 0 #bdbdbd !important;
   }
   .input-field input[type=text].valid,.input-field input[type=number].valid, .input-field .materialize-textarea.valid{
     border-bottom: 1px solid #9e9e9e !important;
     box-shadow: 0 1px 0 0 #bdbdbd !important;
   }
   .input-field .prefix.active {
     color: #000 !important;
   }  

   ul.dropdown-content.select-dropdown li:not(.disabled) span {
    color: rgba(0,0,0,0.87);
   }
  
	input[type="checkbox"]+label{
		padding-left:30px !important;
		padding-right:20px !important;
		color: rgba(0,0,0,0.87) !important;
	}
  
	input[type="checkbox"] + label:before{
		border: 2px solid #424242;
		background: transparent;
	}
	input[type="checkbox"]:checked + label:before{
		border: 2px solid transparent;
		border-bottom: 2px solid #15A347;
		border-right: 2px solid #15A347;
		background: transparent;
	}  
	[type="radio"]:checked+label:after {
		background-color: #15A347 !important;
		border: 2px solid #15A347 !important;
	}	
  
  .btn,.btn:visited,.btn:active,.btn-flat.btn-floating.btn-flat:active,.btn-floating,.btn-floating:active{
	background-color:#15A347;
  }
  .btn:hover,.btn-flat.btn-floating.btn-flat:hover > i,.btn-floating:hover{
	background-color:#4caf50;
	color:#fff;
  }
  
  .btn-floating.btn-flat i{
	  color:rgba(0,0,0,0.87);
  }
  
.switch label input[type=checkbox]:checked+.lever {
  background-color: #15A347;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #15A347;
}  


.tabs .tab a.active,.tabs .tab a:hover,.tabs .tab a {
  color:rgba(0,0,0,.87);
  font-weight:600;
}
.tabs .indicator{
  background-color:#4caf50 !important;
}
  
	.top-nav.navbar-fixed{
		padding:0 !important;
		height:29px !important;
		background-color:#000 !important;
	}
  
	.top-nav i.material-icons{
		line-height:24px !important;
		height:24px !important;
	}
  
	.top-nav{
	   padding: 0.2rem 0.5rem !important;
	   overflow:hidden;
	   height:29px !important;
	   box-shadow: none !important;
	   line-height: 22px !important;
	   background-color:#000 !important;
	}
	.top-nav a, .top-nav a i{
	  color:#fff;
	}
	.top-nav .name{
	  padding:0 1rem;
	  font-weight:300;
	}
	.top-nav .module{
	  padding:0 1rem;
	}


   #search:focus + label{
     color: #000 !important;
   }
   #search:focus,#search.valid{
     border-bottom: 1px solid #fff !important;
     box-shadow: 0 1px 0 0 #fafafa !important;
   }
   .nav-wrapper i.prefix.active{
	   color:#fff !important;
   }

	mark{
		background: #ffeb3b;
		color: black;
	}   
	
	@media only screen and (min-width: 993px) {
		#confirm-box { width: 25% !important;} 
	}	
  
	.debtlistxx{
		background-color:#fff;
		display: flex !important;
		min-height: 99vh !important;
		flex-direction: column !important;
	}

svg.caret {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
}